<template name="homepage">
<div class="center aligned row">
<div class="ui middle text container center aligned">
	<div class="super-header">Welcome.</div>
	<div class="sub-header">We're on a mission to make ordering for busy chefs <br/>and managers <b>simpler, faster</b> and <b>more accurate</b>.</div>
	<!--<div class="sub-sub-header">Secure, reliable, efficient...and free.</div>-->
	<button class="ui button btn-getstarted" tabindex="0">
<a href="{{pathFor route='register'}}">Sign up for free</a>
</button>
	

	</div>
	</div>
</template>

