.menu-box{
	min-height: 100%;
}

.left-column{
	padding: 0px !important;
	background-color: #4c5250;
	min-height: 1000px;

}

.inverted-custom{
	background-color: #4c5250 !important;
}

.header-row{
	min-height: 60px !important;
}

.ui.fixed.sticky + p {
  margin-top: 39px;
}

.dark-grey{
	background-color: #4c5250;
}