body{
	background: #ffffff !important;
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif ;
}

.super-header{
	display: block;
    font-size: 4.75em;
    font-weight: bold;
    margin-top: 1.5em !important;
}

.sub-header{
	display: block;
	font-size: 1.75em;
}

.sub-sub-header{
	display: block;
	font-size: 1.25em;
}

.btn-getstarted{
	margin-top: 1.25em !important;
	background-color: #ffffff !important;
	border-radius: 0px !important;
	border: 2px solid #29abe2 !important;
}

.sky-blue{
	background-color: #29abe2 !important;
	color: #ffffff !important;
}

.ui.header > .image, .ui.header > img{
	width: 1.5em !important;
}