<template name="productEdit">
  <form class="ui form">
<div class="fields">
    <div class="required four wide field {{errorClass 'sku'}}">
      <label >Product Code</label>
      <div class="controls">
          <input name="sku" id="sku" type="text" value="{{sku}}" placeholder="Supplier's Product Code"/>
           <span class="help-block">{{errorMessage 'sku'}}</span>
      </div>
    </div>

    <div class="required eight wide field {{errorClass 'description'}}">
      <label >Description</label>
      <div class="controls">
          <input name="description" id="description" type="text" value="{{description}}" placeholder="Description"/>
           <span class="help-block">{{errorMessage 'description'}}</span>
      </div>
    </div>

    <div class="required four wide field {{errorClass 'category'}}">
      <label >Category</label>
      <div class="controls">
          <input name="category" id="category" type="text" value="{{category}}" placeholder="category"/>
           <span class="help-block">{{errorMessage 'Category'}}</span>
      </div>
    </div>
</div>
<div class="fields">
    <div class="required four wide field {{errorClass 'unit'}}">
      <label>Unit</label>
      <div class="controls">
          <input name="unit" id="unit" type="text" value="{{unit}}" placeholder="unit"/>
           <span class="help-block">{{errorMessage 'Unit'}}</span>
      </div>
    </div>

     <div class="required four wide field {{errorClass 'price'}}">
      <label>Price</label>
      <div class="controls">
          <input name="price" id="price" type="text" value="{{price}}" placeholder="price"/>
           <span class="help-block">{{errorMessage 'Price'}}</span>
      </div>
    </div>
   </div>
    <input type="submit" value="Submit" class="teal ui button submit"/>
    <hr/>
    <a class="red ui button delete" href="#">Delete Product</a>
  </form>
</template>

