<template name="productItem">
  <li>
  <div class="ui styled fluid accordion accordion-edit">
  <div class="title">
   <div id="{{_id}}">
    <h4> <i class="dropdown icon"></i>
      <span class="author">{{sku}}</span>
      <span class="date"> {{description}}</span>
       <p>{{unit}} {{currency price}}</p>
      
    </h4>
    </div>
   
   <!-- <a href="{{pathFor 'productEdit'}}" class="discuss btn btn-default">Edit</a>-->
    <a href="#" ><i class="ui icon big edit edit-popup" data-content="Click me to edit product info." data-variation="tiny"></i></a>
      <div class="ui action input">
      <input placeholder="Qty" type="text" class=" prodqty productInput" value="0"/>
     
      <button class="ui button teal lessOrder" href="#">-</button>
      <button class="ui button blue addOrder" href="#">+</button>
     
      </div>
     </div>
      
   <div class="content">
  <div class="transition hidden">
    <span>{{> productEdit}}</span>
    </div>
    </div>
   
    </div>
  </li>
   
  
</template>

