<template name="productCreate">
   <div class="product-create" >
      <div class="ui styled fluid accordion accordion-create quick-add-title">
         <div class="title">
            <h3 class="h3-custom">  <i class="ui icon add circle large icon-po"></i>Quick Add New Product</h3>
         </div>
         <div class="content">
            <div class="transition hidden">
               <form name="product" class="ui form">
                <div class="fields">
                  <div class="required four wide field {{errorClass 'sku'}}">
                     <div class="controls">
                        <label>SKU</label>
                        <input name="sku" id="sku" placeholder="Enter supplier's code">
                        <span class="help-block">{{errorMessage 'sku'}}</span>
                     </div>
                  </div>
                  <div class="required eight wide field {{errorClass 'description'}}">
                     <div class="controls">
                        <label>Description</label>
                        <input name="description" id="description" placeholder="Description">
                        <span class="help-block">{{errorMessage 'description'}}</span>
                     </div>
                  </div>
                  <div class="required four wide field {{errorClass 'category'}}">
                     <div class="controls">
                        <label>Category</label>
                        <input name="category" id="category" placeholder="Category">
                        <span class="help-block">{{errorMessage 'category'}}</span>
                     </div>
                  </div>
                  </div>
                   <div class="fields">
                  <div class="required four wide field {{errorClass 'unit'}}">
                     <div class="controls">
                        <label>Unit</label>
                        <input name="unit" id="unit" placeholder="Enter unit">
                        <span class="help-block">{{errorMessage 'unit'}}</span>
                     </div>
                  </div>
                  <div class="required four wide field {{errorClass 'price'}}">
                     <div class="controls">
                        <label>Price</label>
                        <input name="price" id="price" placeholder="Enter Price">
                        <span class="help-block">{{errorMessage 'price'}}</span>
                     </div>
                  </div>
                  </div>
                  <button type="submit" class="ui teal button">Quick-add Product</button>
               </form>
            </div>
         </div>
      </div>
   </div>
</template>
