<template name="footer">
<footer class="footer">
      <div class="container container-flex">
      
        <div class="center-align">
        <a href="mailto:brian@properorder.ie?Subject=Hello!"><i class="fa fa-envelope-square fa-3x"></i></a>
         <a href="https://twitter.com/meteorder1" target="_blank"><i class="fa fa-twitter-square fa-3x"></i></a>
         </div>
         <div class="copyright center-align">
        <p class="text-muted">&copy; &nbsp;2015 METEORDER.</p>
        </div>
      </div>
    </footer>
</template>