<template name="header">
   <nav class="navbar navbar-default navbar-custom" role="navigation">
      <div class="navbar-header">
         <!-- <a class="navbar-brand" href="{{pathFor 'suppliersList'}}">METEORDER</a>-->
         <!-- <li><a href="#" class="logout logout-popup" data-content="Bye for now gorgeous!!" data-variation="tiny">Logout</a></li>-->  
         <div class="ui secondary menu">
            <a class="item navbar-custom-brand">
            ProperOrder.
            </a>
            <div class="right menu">
               {{#if currentUser}}
               <!-- <li><a href="#" class="logout logout-popup" data-content="Bye for now gorgeous!!" data-variation="tiny">Logout</a></li>-->    
               <a href="#" class="ui item logout "><i class="sign out icon"></i></a>
               {{else}}
               <a class="ui item" href="{{pathFor route='homepage'}}">Home
               </a>
               <a class="ui item" href="{{pathFor route='register'}}">Register
               </a>
               <a class="ui item" href="{{pathFor route='login'}}">Login
               </a>
               {{/if}}
            </div>
         </div>
      </div>
   </nav>
</template>