<template name="header">
  <nav class="navbar navbar-default navbar-custom" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <!-- <a class="navbar-brand" href="{{pathFor 'suppliersList'}}">METEORDER</a>-->
           <a class="navbar-brand navbar-custom-brand" href="#">ProperOrder.</a>

    </div>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav navbar-right">
       {{#if currentUser}}
       <!-- <li><a href="#" class="logout logout-popup" data-content="Bye for now gorgeous!!" data-variation="tiny">Logout</a></li>-->
               <li><a href="#" class="logout ">Logout</a></li>

    {{else}}
     <li><a href="{{pathFor route='homepage'}}">Home</a></li>
    <li><a href="{{pathFor route='register'}}">Register</a></li>
        <li><a href="{{pathFor route='login'}}">Login</a></li>
    {{/if}}
      </ul>
    </div>
  </nav>

  <!--<div class="ui grid">
  <div class="computer tablet only row">
    <div class="ui inverted fixed menu navbar page grid">
      <a href="" class="brand item">Project Name</a>
      <a href="" class="active item">Home</a>
      <a href="" class="item">About</a>
      <a href="" class="item">Contact</a>
      <div class="right menu">
        <a href="" class="item">Fixed top</a>
      </div>
    </div>
  </div>
  <div class="mobile only row">
      <div class="ui fixed inverted navbar menu">
          <a href="" class="brand item">Project Name</a>
          <div class="right menu open">
              <a href="" class="menu item">
                  <i class="content icon"></i>
              </a>
          </div>
      </div>
      <div class="ui vertical navbar menu">
          <a href="" class="active item">Home</a>
          <a href="" class="item">About</a>
          <a href="" class="item">Contact</a>
          <div class="menu">
              <a href="" class="active item">Default</a>
              <a href="" class="item">Static top</a>
              <a href="" class="item">Fixed top</a>
          </div>
      </div>
  </div>
</div>
-->


</template>